<section class="footer" id="footer">

  <p class="call">
    Questions? Call <a href="#">000-800-919-1694</a>
  </p>
  <div class="order">

    <div class="order1">
      <ul>
        <li>
          <a href="https://help.netflix.com/en/node/412">FAQ</a>
        </li>
        <li>
          <a href="https://media.netflix.com/">Media Centre</a>
        </li>
        <li>
          <a href="https://www.netflix.com/watch">Ways to Watch</a>
        </li>
        <li>
          <a href="https://www.netflix.com/in/#">Cookie Preferences</a>
        </li>
        <li>
          <a href="https://www.netflix.com/in/#">Speed Test</a>
        </li>

      </ul>
    </div>

    <div class="order2">
      <ul>
        <li>
          <a href="https://help.netflix.com/en/node/412">Help Centre</a>
        </li>
        <li>
          <a href="https://media.netflix.com/">
            Investor Relations</a>
        </li>
        <li>
          <a href="https://www.netflix.com/watch">Terms of Use</a>
        </li>
        <li>
          <a href="https://www.netflix.com/in/#">
            Corporate Information</a>
        </li>
        <li>
          <a href="https://www.netflix.com/in/#">
            Legal Noticest</a>
        </li>

      </ul>
    </div>

    <div class="order3">
      <ul>
        <li>
          <a href="https://help.netflix.com/en/node/412">
            Account</a>
        </li>
        <li>
          <a href="https://media.netflix.com/">
            Job</a>
        </li>
        <li>
          <a href="https://www.netflix.com/watch">Privacy</a>
        </li>
        <li>
          <a href="https://www.netflix.com/in/#">
            Contact Us</a>
        </li>
        <li>
          <a href="https://www.netflix.com/in/#">
            only on netflix</a>
        </li>

      </ul>
    </div>

    <p> &#169; Netflix India</p>
  </div>

</section>