<div class="watchlist">
  <h1 style="color:aliceblue">Watch List</h1>

  <div class="row">
    <div class="col-md-6 col-lg-4" *ngFor="let movie of watchlistItems" >
      <div class="card">
        <img [src]="basepath + movie.poster_path" class="card-img-top" alt="Movie 1">
        <div class="card-body">
          <h5 class="card-title">{{movie.title}}</h5>
          <p class="card-text">Price: $9.99/month</p>
          <p>quantity: {{movie.quantity}}</p>

            <button id="remove" class="btn btn-danger">Remove</button>
            <span style="margin-right: 10px;"></span>
            <button class="btn btn-danger">WatchNow!</button>
          
        </div>
      </div>
    </div>
  </div>

  <br>
  <div class="total">
    <!-- <p style="color:aliceblue">Total: $19.98/month</p> -->
    
    <div class="row" *ngIf="watchlistItems.length>0">
  <button class="btn btn-danger" (click)="placeOrder()">Place Order</button>
</div>
<div class="row" *ngIf="watchlistItems.length==0">
  <h3 style="color:aliceblue">Cart is Empty</h3>
  <button class="btn btn-danger" (click)="goToshop()">go Shopping</button>
</div>


  </div>
</div>