<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
</head>
<body>
  <div class="container-flued">
    <app-header></app-header>
    <router-outlet></router-outlet>
    <!-- <app-home></app-home> -->
    <!-- <app-movies></app-movies>
    <app-tvshow></app-tvshow>
    <app-about></app-about>
    <app-movie-details></app-movie-details> -->
    <!--<app-tv-show-details></app-tv-show-details> -->
    <!-- app-cart -->
    <!-- <app-order></app-order> -->
    <app-footer></app-footer>
    
    
  </div>
  
  
</body>
</html>