<div id="linetop"></div>

<section class="tv" id="tv">
  <div class="watchtv">
    <h1 id="enjoytv">
      Enjoy on your TV
    </h1>
    <p>
      Watch on smart TVs, PlayStation, Xbox, Chromecast,<br> Apple TV, Blu-ray players and more.
    </p>
  </div>
  <div class="feature1">
  </div>

  <div id="line1"></div>

  <div class="watchtv">
    <h1 id="downloadshow">
      Download your shows <br>to watch offline
    </h1>
    <p id="downloadshow1">
      Save your favourites easily and always have something<br> to watch.
    </p>
  </div>
  <div class="feature2">
  </div>

  <div id="line1"></div>

  <div class="watchtv">
    <h1 id="watcheverywhere" style="padding-right: 40%;">
      Watch everywhere
    </h1>
    <p id="watcheverywhere1">
      Stream unlimited movies and TV shows on your<br> phone, tablet, laptop, and TV.
    </p>
  </div>
  <div class="feature3">
  </div>

  <div id="line1"></div>

  <div class="watchtv">
    <h1 id="downloadshow" style="padding-left: 30%;">
      Create profiles for kids
  </h1>
  <p id=" downloadshow1" style="padding-left: 20%;">
      Send children on adventures with their favourite<br> characters in a space made just for them—free with
      <br>your membership..
      </p>
  </div>
  <div class="feature4">
  </div>
  <div id="linebottom"></div>

</section>

<section class="frequently asked qns">

  <div class="faq">

    <h1> Frequently Asked Questions</h1>
    <ul class="accordion">
      <li>
        <input type="radio" name="accordion" id="first">
        <label for="first">What is Netflix</label>
        <div class="content">
          <p>Netflix is a streaming service that offers a wide variety of award-winning TV shows, movies, anime, documentaries and more – on thousands of internet-connected devices.<br>

            You can watch as much as you want, whenever you want, without a single ad – all for one low monthly price. There's always something new to discover, and new TV shows and movies are added every week!</p>
        </div>
      </li>

      <li>
        <input type="radio" name="accordion" id="second">
        <label for="second">How Much Netflix Cost</label>
        <div class="content">
          <p>Watch Netflix on your smartphone, tablet, Smart TV, laptop, or streaming device,<br>
            all for one fixed monthly fee. Plans range from ₹ 149 to ₹ 649 a month. No extra costs, no contracts.</p>
        </div>
      </li>

      <li>
        <input type="radio" name="accordion" id="third">
        <label for="third">Where I can Watch?</label>
        <div class="content">
          <p>Watch anywhere, anytime. Sign in with your Netflix account to watch instantly on the web at netflix.com from your personal computer or on any internet-connected device that offers the Netflix app, including smart TVs, smartphones, tablets, streaming media players and game consoles.<br>

            You can also download your favourite shows with the iOS, Android, or Windows 10 app. Use downloads to watch while you're on the go and without an internet connection. Take Netflix with you anywhere</p>
        </div>
      </li>

      <li>
        <input type="radio" name="accordion" id="four">
        <label for="four">How Do I Cancel</label>
        <div class="content">
          <p>Watch anywhere, anytime. Sign in with your Netflix account to watch instantly on the web at netflix.com from your personal computer or on any internet-connected device that offers the Netflix app, including smart TVs, smartphones, tablets, streaming media players and game consoles.<br>

            You can also download your favourite shows with the iOS, Android, or Windows 10 app. Use downloads to watch while you're on the go and without an internet connection. Take Netflix with you anywhere</p>
        </div>
      </li>

      <li>
        <input type="radio" name="accordion" id="five">
        <label for="five">Where I can Watch?</label>
        <div class="content">
          <p>Netflix has an extensive library of feature films, documentaries, TV shows, anime,<br> award-winning Netflix originals, and more. Watch as much as you want, anytime you want</p>
        </div>
      </li>

    </ul>

  </div>

  <h3 id="ready">Ready to watch? Enter your email to create or restart your membership.</h3>

  <input type="text" placeholder="Email address" id="searchbox2">
  <button id="start2" type="button">Get Start></button>

  <div id="linebottom"></div>
</section>